* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #111;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111;
    color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-btn{
    background-color: #111;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.dropdown-btn:hover{
    background-color: #555;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #575757;

}

.logo img{
    height: 50px;

}
.search-btn{
    background-color: #111;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.search-btn:hover{
    background-color: #555;
}

nav{
    display: contents;
    justify-content: space-between;
}

.dropdown-content.show{
    display: block;
    opacity: 1;
}

h1, h2, p{
    margin: 4%;
}

footer{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;

}

.profile-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 40px;
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.name-container{
    margin: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-container h1{
    
    margin-bottom: 5px;
    font-size: 2em;
}

.linkedin-link {
    text-decoration: none;
    color: #0077b5; /* LinkedIn blue */
    font-size: 1.2em;
    margin-top: 10px;
}

.linkedin-link i {
    margin-right: 8px; /* Space between icon and text */
}

.linkedin-link:hover {
    color: #005e8c; /* Darker LinkedIn blue when hovered */
}